# Applying the model to "Test.csv"

In [5]:
import pandas as pd
from scripts.model_serializer import ModelSerializer
from scripts.clean_dataset import clean_dataset
from scripts.helper import currency

In [6]:
model = ModelSerializer('models/best_model.sav').load()

In [12]:
reat_test_dataset = pd.read_csv('data/Test.csv')

In [13]:
ids = reat_test_dataset['ID']

In [14]:
real_test = clean_dataset(reat_test_dataset)

In [16]:
model = ModelSerializer('models/best_model.sav').load()
real_predictions =  pd.Series(model.predict(real_test), name='Predictions')

# Concatenate the Series and ndarray into a DataFrame
result_df = pd.concat([ids, real_predictions], axis=1)
result_df.columns = ['ids', 'predictions']

In [17]:
print(result_df.isna().sum())
result_df

ids             0
predictions    27
dtype: int64

            ids predictions
0        tour_1   very high
1      tour_100   very high
2     tour_1001      medium
3     tour_1006      medium
4     tour_1009   very high
...         ...         ...
1596   tour_988         NaN
1597   tour_990         NaN
1598   tour_992         NaN
1599   tour_996         NaN
1600   tour_998         NaN

[1601 rows x 2 columns]

In [18]:
result_df.to_csv('data/Test_computed.csv', index=False)