In [42]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'f': [1,0,0,1,2,3,1], 'm': [1,1,1,1,1,1,0], 'col3': [np.nan, np.nan, 'Alone', np.nan, np.nan, 'Something', np.nan] })

In [43]:
mask1 = df['f']==0
mask2 = df['m']==1
df.loc[mask1 & mask2, 'col3'] = 'Very Alone males'

mask3 = df['f']==1
mask4 = df['m']==0
df.loc[mask3 & mask4, 'col3'] = 'Very Alone females'

df.loc[(mask1 & mask2) | (mask3 & mask4), 'col3'] = 'Very Alone all'

df

   f  m            col3
0  1  1             NaN
1  0  1  Very Alone all
2  0  1  Very Alone all
3  1  1             NaN
4  2  1             NaN
5  3  1       Something
6  1  0  Very Alone all

# Dump/Load Models

In [2]:
from scripts.model_serializer import ModelSerializer

ModelSerializer('models/blabla.bla').dump({'Hablas español?': 'Sí, señora!'})
ModelSerializer('models/blabla.bla').load()

{'Hablas español?': 'Sí, señora!'}

In [ ]:
# Evaluate the best model
print('Best Model:', best_model.named_steps['classifier'])
print('Mean Absolute Percentage Error:', round(mean_absolute_percentage_error(y_train, y_pred_train), 2))
print('Mean Absolute Error:', round(np.sqrt(mean_absolute_error(y_test, y_pred_test)), 2))
print('Mean Squared Error:', round(np.sqrt(mean_squared_error(y_test, y_pred_test)), 2))
print('R-squared:', round(r2_score(y_test, y_pred_test), 2))








def coeff_info(model):
    coeff_used = np.sum(model.coef_!=0)
    print('The model is using', coeff_used, 'out of 66 features.')
    print( "The highest coefficient has a value of:", max(model.coef_.round(3)))

    
#coeff_info(best_model)