In [42]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'f': [1,0,0,1,2,3,1], 'm': [1,1,1,1,1,1,0], 'col3': [np.nan, np.nan, 'Alone', np.nan, np.nan, 'Something', np.nan] })

In [43]:
mask1 = df['f']==0
mask2 = df['m']==1
df.loc[mask1 & mask2, 'col3'] = 'Very Alone males'

mask3 = df['f']==1
mask4 = df['m']==0
df.loc[mask3 & mask4, 'col3'] = 'Very Alone females'

df.loc[(mask1 & mask2) | (mask3 & mask4), 'col3'] = 'Very Alone all'

df

   f  m            col3
0  1  1             NaN
1  0  1  Very Alone all
2  0  1  Very Alone all
3  1  1             NaN
4  2  1             NaN
5  3  1       Something
6  1  0  Very Alone all

# Dump/Load Models

In [12]:
from scripts.model_serializer import ModelSerializer

ModelSerializer('models/blabla.bla').dump({'Hablas español?': 'Sí, señora!'})
ModelSerializer('models/blabla.bla').load()

import json

json.dump({'Hablas español?': 'Sí, señora!'})

TypeError: dump() missing 1 required positional argument: 'fp'